<html>
  <head>
    <% include head%>
  </head>
  <body class="container">
    <header>
      <% include header%>
    </header>
    <p>This is the index page!</p>
    <h1><%=tagline%><h1>
    <h1>Late night hosts: </h1>
    <ul>
      <% nightHosts.forEach(function(hosts){%>
        <li><b><%=hosts.name%></b> - <%=hosts.age%></li>
      <% }); %>
    </ul>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
        <th>
          Time/Date
        </th>
        <th>
          Down speed
        </th>
        <th>
          Up speed
        </th>
      </tr>
    </thead>
      <tbody>
        <% speedtestJson.forEach(function(speed){%>
        <tr>
          <td>
            <%=speed.time%>
          </td>
          <td>
            <%=speed.downSpeed%>
          </td>
          <td>
            <%=speed.upSpeed%>
          </td>
        </tr>
        <%});%>
      </tbody>
    </table>
  </body>
</html>
